
  
  .fileUpload {
    background-color: #ffffff;
    width: 600px;
    margin: 100px auto;
    padding: 20px;
  }
  
  .fileUploadBtn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .fileUploadBtn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .fileUploadBtn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .fileUploadContent {
    text-align: center;
  }
  
  .fileUploadInput {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .imageUploadWrap {
    margin-top: 20px;
    border: 4px dashed #1FB264;
    position: relative;
  }
  
  .imageDropping,
  .imageUploadWrap:hover {
    background-color: #1FB264;
    border: 4px dashed #ffffff;
  }
  
  .imageTitleWrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .dragText {
    text-align: center;
  }
  
  .dragText h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
  }
  
  .fileUploadImage {
    width: 600px;
    height: auto;
    margin: auto;
    padding: 40px;
  }
  
  .removeImage {
    width: 200px;
    margin: 0 2rem;
    color: #fff;
    background: #666699;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #666699;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .removeImage:hover {
    background: #333399;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .removeImage:active {
    border: 0;
    transition: all .2s ease;
  }